.landingcontainer {
    background-image:url("https://www.pngkit.com/png/detail/150-1505858_blue-line-curve-png.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 500px;
    width: 101%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .box {
    width: 38%;
    background:white;
    margin: auto;
    margin-top: 10%;
    border-radius: 30px;
    padding: 0px;
    padding-bottom: 20px;
    padding-right: 10px;
  }
  
  .heading {
    background:grey;
    text-align: center;
    padding: 30px;
    position: relative;
    margin-top: 0px;
    margin-right: -10px; 
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  
  
  @media all and (min-width:0px) and (max-width:1000px){
    .card {
      width: 70%;
      margin-top: 60px;
    }
  }