.profilecontainer {
    margin-top: 0px;
    padding: 0px 30px;
    height: 400px;
    overflow-x: auto;
    background: white;
    cursor: pointer;
  }
  
  .profileimagecontainer {
    display: flex;
    margin-top: 0px;
    align-items: center;
    gap: 20px;
    margin: 0px;
    padding: 0px;
  }
  
  .profileimagecontainer > img {
    border-radius: 50px;
    width: 35px;
    margin: 0px;
    padding: 0px;
  }
  
  .profileimagecontainer > p {
    font-weight: 400;
    font-size: 17px;
    margin: 0px;
    padding: 0px;
    color: #383535;
  }
  .profileimagecontainer > p:hover {
    color: rgb(158, 56, 56);
  }
  

  